{% load widget_tweaks %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Start</a>

        <div class="navbar" id="navbarBase">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'search' %}">Search</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'new' %}">New</a>
            </li>
            <li class="nav-item active">
                {% if not '/website/login' in request.get_full_path and not user.is_authenticated %}
                <form class="form-inline mb-2 mt-2" method="post" action="{% url 'login' %}">
                      {% csrf_token %}
                    <div class="form-group mx-sm-3 mb-2">
                        {% render_field login_form.username class+='form-control' placeholder='user'%}
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        {% render_field login_form.password class+='form-control' placeholder='password'%}
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm mb-2">Logg in</button>
                  </form>
                {% elif not '/website/login' in request.get_full_path and user.is_authenticated %}
                <form class="form-inline mb-2 mt-2" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm mb-2">Logg out</button>
                </form>
                {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <!-- Begin page content -->
    <main role="main" class="container">
      <br>
      {% block content %}
      {% endblock %}
    </main>



    <!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
